<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body class="bg-blue-600 mx-14 my-14">
    <div class="w-6/12 text-center">
        <h1 class="text-white font-bold text-4xl">SILAHKAN MASUKAN KARTU ANDA</h1>
    </div>
    <div class="mx-auto mr-20 w-1/2">
        <button onclick="index()">
            <img src="/img/insert.png">
    </div>
    <div class="w-6/12 text-center">
        <h1 class="text-white font-bold text-4xl">PLEASE INSERT YOUR CARD</h1>
    </div>
</body>
<script>
    function index() {
        window.open('bahasa.html', '_blank');
        window.close('index.html');
    }
</script>
</html>